body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main{
  /* background: rgba(116, 3, 3, 0.363); */
}
.m{
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  background: rgb(174, 207, 255);
}
.m>p{
  color: #3a3a3a;
}

p.user{
  color: #005cd4;
  font-weight: 600;
}
p.message{
  text-align: end;
}
p.date{
  font-size: smaller;
  color: #00000046;
}

